[submodule "deps/lucre"]
	path = deps/lucre
	url = https://github.com/benlaurie/lucre.git
[submodule "deps/simpleini"]
	path = deps/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "deps/bigint"]
	path = deps/bigint
	url = https://mattmccutchen.net/bigint/bigint.git
[submodule "deps/gtest"]
	path = deps/gtest
	url = https://github.com/monetas/gtest.git
[submodule "deps/ChaiScript"]
	path = deps/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
