[submodule "cmake"]
	path = cmake
	url = https://github.com/Open-Transactions/opentxs-cmake
[submodule "deps/ChaiScript"]
	path = deps/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "deps/lucre"]
	path = deps/lucre
	url = https://github.com/Open-Transactions/lucre.git
[submodule "deps/simpleini"]
	path = deps/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "deps/siphash"]
	path = deps/siphash
	url = https://github.com/whitfin/siphash-cpp
[submodule "deps/smhasher"]
	path = deps/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "deps/trezor"]
	path = deps/trezor
	url = https://github.com/Open-Transactions/trezor-firmware.git
