[submodule "deps/lucre"]
	path = deps/lucre
	url = https://github.com/Open-Transactions/lucre.git
[submodule "deps/simpleini"]
	path = deps/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "deps/gtest"]
	path = deps/gtest
	url = https://github.com/Open-Transactions/gtest.git
[submodule "deps/ChaiScript"]
	path = deps/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "deps/libzmq_4"]
	path = deps/libzmq_4
	url = https://github.com/zeromq/zeromq4-x.git
[submodule "deps/bitcoin-base58"]
	path = deps/bitcoin-base58
	url = https://github.com/Open-Transactions/bitcoin-core-base58.git
[submodule "deps/czmq"]
	path = deps/czmq
	url = https://github.com/zeromq/czmq
