os:
- linux
- osx
language: cpp
compiler:
- gcc
- clang
install: ./scripts/travis/install-deps.sh "${TRAVIS_OS_NAME}"
before_script:
- ./scripts/travis/clang-format-checker.sh
- ./scripts/travis/cppcheck_wrapper.sh ./src
script:
- mkdir build
- cd build
- if [ "${TRAVIS_OS_NAME}" = "osx" ]; then cmake .. -DCMAKE_PREFIX_PATH=/usr/local/opt/openssl ; else cmake ..; fi 
- make -j 2 && make test
- cd ..
branches:
  only:
  - master
  - develop
before_deploy: ./scripts/travis/build_tar.sh "${TRAVIS_OS_NAME}"
deploy:
  provider: s3
  access_key_id: AKIAJGVCHWI7HKTMAKWA
  secret_access_key:
    secure: Mq8x7SI8u+E7gym0ZQfyoa7o8g4oePzfd5NDo9XwC6YdzEs7+38WTMtU972EdZud5bgHHSJA06jkuKm6XD5syHVn+YBgOptSupPpaDkylhh/VG45yxjJ7WpuDDFFoI4PUTde00LDH3qdYtsMdbOKVzDR8vcNwsAgVOTShtMjZsw=
  bucket: monetas-builds
  skip_cleanup: true
  local-dir: s3
  upload-dir: ${TRAVIS_REPO_SLUG}/${TRAVIS_BRANCH}
  on:
    branch: ${TRAVIS_BRANCH}
